{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <center>
        # Aqui é começa a parte do cabeçalho que tem a imagem de bolinha, o link ao inves de mandar pra aquele site de foto, vai mandar pro video do compacto#
        <a href="https://www.youtube.com/embed/2ydwZW2AR8Y"><img src="https://i.ibb.co/DgfLmqC/n2pa11y1-TXSYVXYrt-La-B-d1e7bb452684552f48615d67cc545956.png" alt="n2pa11y1-TXSYVXYrt-La-B-d1e7bb452684552f48615d67cc545956" border="0"></a>
       <br/> #Esse br é pra pular linha, ai fica mais espaço entre a bolinha e video que vem embaixo#
        <br/>
        <iframe width="700" height="200" src="https://www.youtube.com/embed/DcD5UOhOrDQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
    </header>
#Aqui começa a parte do texto que eu fiz sobre a banda, que eu queria que ficasse so na pagina inicial, que nem a imagem de baixo#
    <div id="conteudo">
        <div align="justify">

        <div id="conteudo-principal">
            <h1>O quartinho</h1>

            <p>
                O Quartinho é uma banda pernambucana formada por Cadu (voz, guitarra e teclado), Manoel (bateria e backing vocal), Bezerra (baixo e backing vocal) e Pedro Vilela (voz, guitarra e teclado).
                A banda não possui gênero musical definido, mas suas composições e musicalidade são inspiradas no brega pernambucano e nas experiências do ser recifense.

            </p>
            <center>
                # A foto que tem eles 4 e o sem pressa, o link quando clica na foto vai pra pagina do insta deles #
            <a href="https://www.instagram.com/oqu4rtinho/"><img src="https://i.ibb.co/1mv8sbz/photo4949513655167330476.jpg" alt="photo4949513655167330476" border="0"></a>
               #Clicando nesse confira nossas redes vai pro link.tree deles#
                <a href="https://linktr.ee/oqu4rtinho" target="_blank">Confira nossas redes sociais</a>
            </center>

      #Aqui começa a parte de notícias, que é a parte do blog onde vc vai adicionar as notícias do Diário de Pernambuco#
        <div id="conteudo-secundario">
            <h1>Notícias</h1>

            <main>
            <center>
            {% block content %}
            {% endblock %}
            </center>
            </main>
        </div>
        <center>
        <iframe width="700" height="200" src="https://www.youtube.com/embed/2ydwZW2AR8Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
    </div>
            #Aqui é o rodape que tem o telefone, um email que eu inventei #
    <div id="rodape">
        <div align="center">
        <p id="telefone-email">
            bandaoquartinho@gmail.com
            <br>
            <span class="ddd">81</span> 99184-2091
        </p>

      #Aqui tem a parte do copyright deles que achei chique embaixo#
        <small id="copyright">
            &copy; O Quartinho. Todos os direitos reservados.
        </small>
        </div>
    </div>
</div>

</body>
</html>
