body {
    margin: 0 25%;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #111111;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    border-bottom: 1px solid;
}
h2.titulo{
    font-size: 15px;
}
h2 {
    color:#e4622e;
    font-weight: normal;
    font-size: 10px;
    margin-bottom: px;

}

a {
    color:#e4622e;
    text-decoration:none;
}

p.date {
    font-size: 0.6rem;
    font-style: italic;
    margin-top: 1px;

div.conteudo{font-size:10px;}
div.title{font-size:20px;}
